/* .App {
  text-align: center;
} */
.App {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  min-height: 100vh; /* Full viewport height */
}
html, body {
  height: 100%; /* Ensure full height for body */
  margin: 0; /* Remove default margin */
}
main {
  flex: 1; /* Allow main content to grow and fill space */
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* src/App.css */

/* Smooth scrolling behavior */
html {
  scroll-behavior: smooth;
}

/* Adjust section padding */
section {
  padding-top: 60px;
  padding-bottom: 60px;
}

/* Customize Navbar */
.navbar-brand {
  font-weight: bold;
}

/* Card Hover Effect */
.card:hover {
  transform: scale(1.05);
  transition: transform 0.3s;
}

/* Footer Links */
footer a {
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

body {
  font-family: 'Roboto', sans-serif;
}

.hero {
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('components/assets/images/background.png') no-repeat center center/cover;
  color: white;
}
.contactprojects{
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('components/assets/images/projects.jpg') no-repeat center center/cover;
  color: white;
}
.heroprojects {
  
  background: linear-gradient(135deg, #004581, #DDE8F0,#018ABD,#97CBDC);

  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  position: relative;
  color: #fff;
  padding: 4rem 0;
}
@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.navbar {
  transition: all 0.3s ease-in-out;
}

.navbar.scrolled {
  background-color: rgba(33, 37, 41, 0.9) !important;
}

section {
  padding-top: 80px;
}

.card {
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.progress {
  height: 10px;
  border-radius: 5px;
}

.progress-bar {
  background-color: #007bff;
}

/* add new home  */
.container {
  z-index: 10; /* Ensure text is above the background */
}

.hero-image {
  position: absolute;
  bottom: 20px; /* Positioning the image */
  right: 20px; /* Adjust as needed */
}

.btn-primary {
  background-color: #007bff; /* Bootstrap primary color */
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3; /* Darker shade on hover */
}